.section-two {

}

.section-two__figure {

}

.image-wrapper {
  border: 1px solid #000;
  margin-bottom: 30px;
}

.section-two__text {
  padding: 15px 30px;
  margin-bottom: 0;
}

.section-two .section-text:last-of-type {
  margin: 0;
}



.image3 {

}

.image4 {
}

.image5 {
  width: 100%;
  margin-bottom: 0;
}


.image6 {


}

.image7 {

}

