.section-margin__top {
  margin-bottom: 30px;
}

.image1 {
  margin-right: 30px;
  margin-bottom: 0;
}

.section-margin__list {
  display: inline-block;
  max-width: 480px;
}

.section-margin__list_one {
  margin-right: 0;
}

.section-margin__list_two {
  margin-right: 30px;
}

.section-margin__item {
  margin-bottom: 30px;
}

.section-margin__item:last-child {
  margin-bottom: 0;
}

.section-margin__bottom {
}

.image2 {
  margin-bottom: 0;
}
