.image-wrapper {
  border: 1px solid #000;
  margin-bottom: 30px;
}

.section-margin-item__text {
  padding: 15px 30px;
  margin-bottom: 0;
}

.section-margin-item .section-text:last-child {
  margin: 0;
}

.section-margin-item .section-figure:last-of-type {
  margin-bottom: 30px;
}

.image5 {
  width: 100%;
  margin-bottom: 0;
}

.image7 {
  margin-bottom: 0;
}
